<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">
</head>
<body>
    <nav class="mainMenu">
        <ul>
            <li><a href="./main.html"><img src="" alt="로고"></a></li>
            <li><a href="#">주식</a>
                <ul class="subMenu">
                    <li><a href="#">검색</a></li>
                    <li><a href="#">매수</a></li>
                    <li><a href="#">매도</a></li>
                </ul>
            </li>
            <li><a href="#">메인 메뉴 2</a>
                <ul class="subMenu">
                    <li><a href="#">서브 메뉴 1</a></li>
                    <li><a href="#">서브 메뉴 2</a></li>
                    <li><a href="#">서브 메뉴 3</a></li>
                </ul>
            </li>
            <li><a href="#">메인 메뉴 3</a>
                <ul class="subMenu">
                    <li><a href="#">서브 메뉴 1</a></li>
                    <li><a href="#">서브 메뉴 2</a></li>
                    <li><a href="#">서브 메뉴 3</a></li>
                </ul>
            </li>
            <li><a href="#">게시판</a>
                <ul class="subMenu">
                    <li><a href="#">자유 게시판</a></li>
                    <li><a href="#">공지</a></li>
                </ul>
            </li>
            <div class="ls">
                <li class="login"><a href="/login">로그인</a></li>
                <li class="signin"><a href="/signin">회원가입</a></li>
            </div>
        </ul>
    </nav>
    <!-- <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> -->
</body>
</html>