<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
    <link rel="stylesheet" type="text/css" href="/CSS/main.css">
</head>
<body>
    <nav>
        <ul class="mainMenu">
            <% if (userId) { %>
            <li><a href="/"><img src="" alt="로고"></a></li>
            <li><a>주식 거래</a>
                <ul class="subMenu">
                    <li><a href="/stock_search">검색</a></li>
                    <li><a href="/stock_transaction">매수 / 매도</a></li>
                </ul>
            </li>
            <li><a>외화 거래</a>
                <ul class="subMenu">
                    <li><a href="/currency_search">검색</a></li>
                    <li><a href="/currency_transaction">매수 / 매도</a></li>
                </ul>
            </li>
            <li><a>명예의 전당</a>
                <ul class="subMenu">
                    <li><a href="/best_earner">역대 최고 수익자</a></li>
                    <li><a href="/richest_person">최고의 자산가</a></li>
                </ul>
            </li>
            <li><a>게임</a>
                <ul class="subMenu">
                    <li><a href="#">복권</a></li>
                    <li><a href="#">룰렛</a></li>
                    <li><a href="#">주사위</a></li>
                </ul>
            </li>
                <li class="userId"><a title='보유중인 금액: <%= money %>원'>사용자 이름: <%= userId %></a></li>
                <li><a href="/logout">로그아웃</a></li>
            <% } else { %>
                <li><a href="/"><img src="" alt="로고"></a></li>
            <li><a>주식 거래</a>
                <ul class="subMenu">
                    <li><a href="#" onclick="checkLogin(event)">검색</a></li>
                    <li><a href="#" onclick="checkLogin(event)">매수 / 매도</a></li>
                </ul>
            </li>
            <li><a>외화 거래</a>
                <ul class="subMenu">
                    <li><a href="#" onclick="checkLogin(event)">검색</a></li>
                    <li><a href="#" onclick="checkLogin(event)">매수 / 매도</a></li>
                </ul>
            </li>
            <li><a>명예의 전당</a>
                <ul class="subMenu">
                    <li><a href="#" onclick="checkLogin(event)">역대 최고 수익자</a></li>
                    <li><a href="#" onclick="checkLogin(event)">최고의 자산가</a></li>
                </ul>
            </li>
            <li><a>게임</a>
                <ul class="subMenu">
                    <li><a href="#" onclick="checkLogin(event)">복권</a></li>
                    <li><a href="#" onclick="checkLogin(event)">룰렛</a></li>
                    <li><a href="#" onclick="checkLogin(event)">주사위</a></li>
                </ul>
            </li>
                <li><a href="/login">로그인</a></li>
                <li><a href="/signin">회원가입</a></li>
            <% } %>
        </ul>
    </nav>
    <ul id="exchangeRatePrices">
        <li id="exchange-rate-미국">1 <span id="base-currency-미국"></span> - 매수 : <span id="exchange-rate-BuyValue-미국"></span> <span id="target-currency-미국"></span> 매도 : <span id="exchange-rate-SellValue-미국"></span> <span id="target-currency-미국"></span></li>
        <li id="exchange-rate-독일">2 <span id="base-currency-독일"></span> - 매수 : <span id="exchange-rate-BuyValue-독일"></span> <span id="target-currency-독일"></span> 매도 : <span id="exchange-rate-SellValue-독일"></span> <span id="target-currency-독일"></span></li>
        <li id="exchange-rate-일본">3 <span id="base-currency-일본"></span> - 매수 : <span id="exchange-rate-BuyValue-일본"></span> <span id="target-currency-일본"></span> 매도 : <span id="exchange-rate-SellValue-일본"></span> <span id="target-currency-일본"></span></li>
        <li id="exchange-rate-영국">4 <span id="base-currency-영국"></span> - 매수 : <span id="exchange-rate-BuyValue-영국"></span> <span id="target-currency-영국"></span> 매도 : <span id="exchange-rate-SellValue-영국"></span> <span id="target-currency-영국"></span></li>
        <li id="exchange-rate-캐나다">5 <span id="base-currency-캐나다"></span> - 매수 : <span id="exchange-rate-BuyValue-캐나다"></span> <span id="target-currency-캐나다"></span> 매도 : <span id="exchange-rate-SellValue-캐나다"></span> <span id="target-currency-캐나다"></span></li>
        <% if (userId) { %>
            <a class="exchangeRateButton" href="/currency_transaction"><button>외화 거래 바로가기</button></a>
        <% } %>
    </ul>
    <ul id="stockPrices">
        <li>1 <span id="stockPrice005930"></span> 가격 : <span id="stockPrice-005930"></span>원</li>
        <li>2 <span id="stockPrice000660"></span> 가격 : <span id="stockPrice-000660"></span>원</li>
        <li>3 <span id="stockPrice035720"></span> 가격 : <span id="stockPrice-035720"></span>원</li>
        <li>4 <span id="stockPrice051910"></span> 가격 : <span id="stockPrice-051910"></span>원</li>
        <li>5 <span id="stockPrice207940"></span> 가격 : <span id="stockPrice-207940"></span>원</li>
        <% if (userId) { %>
            <a class="stockPricesButton" href="/stock_transaction"><button>주식 거래 바로가기</button></a>
        <% } %>
    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function checkLogin(event) {
            event.preventDefault();
            alert('로그인이 필요한 기능입니다.')
            window.location.href = '/login';
        }
        $(document).ready(function() {
            // 서버 엔드포인트 URL
            const apiUrl = '/stock';

            // 미리 정의된 주식 심볼 배열
            const symbols = ['005930','000660','051910','207940', '035720'];

            // 주식 정보를 가져오는 함수
            function getStockPrice(symbol) {
                // 요청을 보낼 API 엔드포인트 URL 설정
                const url = apiUrl;

                // POST 요청을 보냅니다.
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { symbol: symbol },
                    success: function(response) {
                        console.log(response);
                        // 서버로부터 받은 응답을 처리합니다.
                        console.log('Stock symbol:', response.symbol);
                        console.log('Stock price:', response.price);

                        // 받은 응답 중에서 주식 가격을 얻습니다.
                        const stockPrice = response.price;

                        // 가격을 HTML 요소에 표시
                        $('#stockPrice' + symbol).text(response.symbol);
                        $('#stockPrice-' + symbol).text(stockPrice);
                    },
                    error: function(xhr, status, error) {
                        // 오류가 발생한 경우 처리합니다.
                        console.error('Error:', error);
                    }
                });
            }

            // 주식 가격을 업데이트하는 함수
            function updateStockPrices() {
                symbols.forEach(function(symbol) {
                    getStockPrice(symbol);
                });
            }

            // 페이지가 로딩되면 실행할 함수 호출
            updateStockPrices();

            // 1분마다 주식 가격을 업데이트
            setInterval(updateStockPrices, 60000);
        });
        // 페이지 로딩이 완료되면 실행될 함수
        $(document).ready(function() {
            const apiUrl = '/currency_search';

            // 미리 정의된 통화 코드 배열
            const currencies = [
                '미국', '독일', '일본', '영국', '캐나다'
            ];

            // ExchangeRate-API에 요청을 보내고 응답을 처리하는 함수
            function getExchangeRate(baseCurrency) {
                // 요청을 보낼 API 엔드포인트 URL 설정
                const url = apiUrl;

                // POST 요청을 보냅니다.
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        query: baseCurrency
                    },
                    success: function(response) {
                        // 서버로부터 받은 응답을 처리합니다.
                        console.log('Exchange rate Buy:', response.exchangeRateBuy);
                        console.log('Exchange rate Sell:', response.exchangeRateSell);
                        console.log('Base currency:', response.symbol);
                        console.log('Target currency: KRW');

                        // 받은 응답 중에서 통화 변환 가격을 얻습니다.
                        const exchangeRateBuy = response.exchangeRateBuy;
                        const exchangeRateSell = response.exchangeRateSell;

                        // 변환된 가격을 HTML 요소에 표시
                        $('#exchange-rate-BuyValue-' + baseCurrency).text(exchangeRateBuy);
                        $('#exchange-rate-SellValue-' + baseCurrency).text(exchangeRateSell);
                        $('#base-currency-' + baseCurrency).text(baseCurrency);
                        $('#target-currency-' + baseCurrency).text("KRW");
                    },
                    error: function(xhr, status, error) {
                        // 오류가 발생한 경우 처리합니다.
                        console.error('Error:', error);
                    }
                });
            }

            // 환율을 업데이트하는 함수
            function updateExchangeRates() {
                currencies.forEach(function(currency) {
                    getExchangeRate(currency);
                });
            }

            // 페이지가 로딩되면 실행할 함수 호출
            updateExchangeRates();

            // 5초마다 환율을 업데이트
            setInterval(updateExchangeRates, 60000);
        });
    </script>
    <script src="script/main.js"></script>
</body>
</html>