<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 정보</title>
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/contents.css">
</head>
<body>
    <nav>
        <ul class="mainMenu">
            <% if (userId) { %>
            <li><a href="/">홈</a></li>
            <li><a>주식 거래</a>
                <ul class="subMenu">
                    <li><a href="/stock_search">검색</a></li>
                    <li><a href="/stock_transaction">매수 / 매도</a></li>
                </ul>
            </li>
            <li><a>외화 거래</a>
                <ul class="subMenu">
                    <li><a href="/currency_search">검색</a></li>
                    <li><a href="/currency_transaction">매수 / 매도</a></li>
                </ul>
            </li>
            <li><a>명예의 전당</a>
                <ul class="subMenu">
                    <li><a href="/best_earner">역대 최고 수익자</a></li>
                    <li><a href="/richest_person">최고의 자산가</a></li>
                </ul>
            </li>
            <li><a>게임</a>
                <ul class="subMenu">
                    <li><a href="/lottery">행운의 번호</a></li>
                    <li><a href="/roulette">룰렛</a></li>
                </ul>
            </li>
            <li class="userInfo">
                <a>사용자 이름: <%= userId %></a>
                <ul class="subMenu">
                    <li><a href="/myInfo">내 정보</a></li>
                    <li><a href="/myAsset">내 자산</a></li>
                    <li><a href="/logout">로그아웃</a></li>
                </ul>
            </li>
            <% } else { %>
                <li><a href="/">홈</a></li>
            <li><a>주식 거래</a>
                <ul class="subMenu">
                    <li><a href="#" onclick="checkLogin(event)">검색</a></li>
                    <li><a href="#" onclick="checkLogin(event)">매수 / 매도</a></li>
                </ul>
            </li>
            <li><a>외화 거래</a>
                <ul class="subMenu">
                    <li><a href="#" onclick="checkLogin(event)">검색</a></li>
                    <li><a href="#" onclick="checkLogin(event)">매수 / 매도</a></li>
                </ul>
            </li>
            <li><a>명예의 전당</a>
                <ul class="subMenu">
                    <li><a href="#" onclick="checkLogin(event)">역대 최고 수익자</a></li>
                    <li><a href="#" onclick="checkLogin(event)">최고의 자산가</a></li>
                </ul>
            </li>
            <li><a>게임</a>
                <ul class="subMenu">
                    <li><a href="#" onclick="checkLogin(event)">행운의 번호</a></li>
                    <li><a href="#" onclick="checkLogin(event)">룰렛</a></li>
                </ul>
            </li>
                <li><a href="/login">로그인</a></li>
                <li><a href="/signin">회원가입</a></li>
            <% } %>
        </ul>
    </nav>
    <h2 class="myInfoTitle">내 정보</h2>
    <div class="myInfo"></div>
    <% if (userId) { %>
        <footer>
            <h3>사이트맵</h3>
            <ul class="siteMap">
                <li><a href="/">홈</a></li>
                <li>
                    <a>주식</a>
                    <ul class="subSiteMap">
                        <li><a href="/stock_search">주식 검색</a></li>
                        <li><a href="/stock_transaction">주식 거래</a></li>
                    </ul>
                </li>
                <li>
                    <a>외화</a>
                    <ul class="subSiteMap">
                        <li><a href="/currency_search">외화 검색</a></li>
                        <li><a href="/currency_transaction">외화 거래</a></li>
                    </ul>
                </li>
                <li>
                    <a>명예의 전당</a>
                    <ul class="subSiteMap">
                        <li><a href="/best_earner">역대 최고 수익자</a></li>
                        <li><a href="/richest_person">최고의 자산가</a></li>
                    </ul>
                </li>
                <li>
                    <a>게임</a>
                    <ul class="subSiteMap">
                        <li><a href="/lottery">행운의 번호</a></li>
                        <li><a href="/roulette">룰렛</a></li>
                    </ul>
                </li>
                <li>
                    <a>사용자 정보</a>
                    <ul class="subSiteMap">
                        <li><a href="/myInfo">내 정보</a></li>
                        <li><a href="/myAsset">내 자산</a></li>
                    </ul>
                </li>
            </ul>
        </footer>
    <%} else { %>
        <footer>
            <h3>사이트맵</h3>
            <ul class="siteMap">
                <li><a href="/">홈</a></li>
                <li>
                    <a>주식 거래</a>
                    <ul class="subSiteMap">
                        <li><a href="#" onclick="checkLogin(event)">주식 검색</a></li>
                        <li><a href="#" onclick="checkLogin(event)">주식 거래</a></li>
                    </ul>
                </li>
                <li>
                    <a>외화 거래</a>
                    <ul class="subSiteMap">
                        <li><a href="#" onclick="checkLogin(event)">외화 검색</a></li>
                        <li><a href="#" onclick="checkLogin(event)">외화 거래</a></li>
                    </ul>
                </li>
                <li>
                    <a>명예의 전당</a>
                    <ul class="subSiteMap">
                        <li><a href="#" onclick="checkLogin(event)">역대 최고 수익자</a></li>
                        <li><a href="#" onclick="checkLogin(event)">최고의 자산가</a></li>
                    </ul>
                </li>
                <li>
                    <a>게임</a>
                    <ul class="subSiteMap">
                        <li><a href="#" onclick="checkLogin(event)">행운의 번호</a></li>
                        <li><a href="#" onclick="checkLogin(event)">룰렛</a></li>
                    </ul>
                </li>
                <li>
                    <a>사용자 정보</a>
                    <ul class="subSiteMap">
                        <li><a href="#" onclick="checkLogin(event)">내 정보</a></li>
                        <li><a href="#" onclick="checkLogin(event)">내 자산</a></li>
                    </ul>
                </li>
            </ul>
        </footer>
    <% } %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="script/main.js"></script>
    <script>
        function checkLogin(event) {
            event.preventDefault();
            alert('로그인이 필요한 기능입니다.')
            window.location.href = '/login';
        }
        document.addEventListener('DOMContentLoaded', function() {
            const dataToSend = {
                name: "<%= userId %>"
            };

            fetch('/myInfo', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dataToSend)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('서버 응답이 실패했습니다.');
                }
                return response.json(); // JSON 형식의 응답을 파싱
            })
            .then(data => {
                // 서버에서 받은 데이터를 처리
                console.log('서버 응답:', data);
                handleUserData(data);
            })
            .catch(error => {
                // 요청 실패 또는 응답 처리 중 오류가 발생한 경우
                console.error('오류:', error);
            });
        });

        function handleUserData(userData) {
            const userInfoContainer = document.querySelector('.myInfo');
            userInfoContainer.innerHTML = `
                <p><strong>사용자명:</strong> ${userData.username}</p>
                <p><strong>Email:</strong> ${userData.email}</p>
                <p><strong>보유 금액:</strong> ${userData.money}원</p>
                <p><strong>거래 횟수:</strong> ${userData.transaction_count}번</p>
            `;
        }
    </script>
</body>
</html>