<!-- reset-password.ejs -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
</head>
<body>
    <h2>비밀번호 재설정</h2>
    <form id="reset-password-form">
        <div>
            <label for="new-password">새로운 비밀번호:</label>
            <input type="password" id="new-password" name="new-password" required>
        </div>
        <div>
            <label for="confirm-password">비밀번호 확인:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
        </div>
        <button type="submit">비밀번호 변경</button>
        <input type="hidden" id="temporaryPassword" name="temporaryPassword" value="<%= temporaryPassword %>">
    </form>
    <script>
        document.getElementById("reset-password-form").addEventListener("submit", async function(event) {
        event.preventDefault(); // 폼 기본 동작 중단
        
        const temporaryPassword = document.getElementById('temporaryPassword').value;
        const newPassword = document.getElementById('new-password').value;
        const confirmPassword = document.getElementById('confirm-password').value;
        if (newPassword !== confirmPassword) {
            alert("비밀번호가 일치하지 않습니다.");
            return;
        }
        
        const formData = {
            temporaryPassword: temporaryPassword, // 사용자 이름 추가
            newPassword: newPassword
        };
        
        try {
            const response = await fetch(`/new-password`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });
            const data = await response.json();
            if (!response.ok) {
                alert(data.message);
            } else {
                alert(data.message);
                location.href = '/login';
            }
        } catch (error) {
            console.error("비밀번호 변경 실패:", error);
            alert("비밀번호 변경에 실패했습니다.");
        }
    });
    </script>    
</body>
</html>
