<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/login.css">
</head>
<body>
    <h2 class="RPTitle">비밀번호 변경</h2>
    <form id="reset-password-form">
        <div>
            <label for="user_id">사용자 아이디:</label>
            <input type="user_id" id="user_id" name="user_id" required><br>
            <label for="email">이메일:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">비밀번호 변경</button><a href="login">로그인 하러가기</a>
    </form>
    <script>
        document.getElementById("reset-password-form").addEventListener("submit", async function(event) {
            event.preventDefault(); // 폼 기본 동작 중단
            
            // 폼 데이터 가져오기
            const formData = {
                username: document.getElementById('user_id').value,
                email: document.getElementById('email').value
            };
            
            try {
                // 서버로 데이터를 전송하는 코드
                const response = await fetch("/reset-password", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                });
                const data = await response.json();
                if (!response.ok) {
                    alert(data.message);
                    location.reload();
                }
                else{
                    console.log(data);
                    alert(data.message);
                    location.href = '/';
                }
            } catch (error) {
                console.error("이메일 전송에 실패하였습니다. :", error);
                alert("이메일 전송에 실패하였습니다. : " + error.message); // 오류 메시지 표시
            }
        });
    </script>
</body>
</html>
