<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>룰렛 게임</title>
<link rel="stylesheet" href="/CSS/main.css">
<link rel="stylesheet" href="/CSS/roulette.css">
</head>
<body>
    <nav>
        <ul class="mainMenu">
            <% if (userId) { %>
            <li><a href="/">홈</a></li>
            <li><a>주식 거래</a>
                <ul class="subMenu">
                    <li><a href="/stock_search">검색</a></li>
                    <li><a href="/stock_transaction">매수 / 매도</a></li>
                </ul>
            </li>
            <li><a>외화 거래</a>
                <ul class="subMenu">
                    <li><a href="/currency_search">검색</a></li>
                    <li><a href="/currency_transaction">매수 / 매도</a></li>
                </ul>
            </li>
            <li><a>명예의 전당</a>
                <ul class="subMenu">
                    <li><a href="/best_earner">역대 최고 수익자</a></li>
                    <li><a href="/richest_person">최고의 자산가</a></li>
                </ul>
            </li>
            <li><a>게임</a>
                <ul class="subMenu">
                    <li><a href="/lottery">행운의 번호</a></li>
                    <li><a href="/roulette">룰렛</a></li>
                </ul>
            </li>
            <li class="userInfo">
                <a>사용자 이름: <%= userId %></a>
                <ul class="subMenu">
                    <li><a href="/myInfo">내 정보</a></li>
                    <li><a href="/myAsset">내 자산</a></li>
                    <li><a href="/logout">로그아웃</a></li>
                </ul>
            </li>
            <% } else { %>
                <li><a href="/">홈</a></li>
            <li><a>주식 거래</a>
                <ul class="subMenu">
                    <li><a href="#" onclick="checkLogin(event)">검색</a></li>
                    <li><a href="#" onclick="checkLogin(event)">매수 / 매도</a></li>
                </ul>
            </li>
            <li><a>외화 거래</a>
                <ul class="subMenu">
                    <li><a href="#" onclick="checkLogin(event)">검색</a></li>
                    <li><a href="#" onclick="checkLogin(event)">매수 / 매도</a></li>
                </ul>
            </li>
            <li><a>명예의 전당</a>
                <ul class="subMenu">
                    <li><a href="#" onclick="checkLogin(event)">역대 최고 수익자</a></li>
                    <li><a href="#" onclick="checkLogin(event)">최고의 자산가</a></li>
                </ul>
            </li>
            <li><a>게임</a>
                <ul class="subMenu">
                    <li><a href="#" onclick="checkLogin(event)">행운의 번호</a></li>
                    <li><a href="#" onclick="checkLogin(event)">룰렛</a></li>
                </ul>
            </li>
                <li><a href="/login">로그인</a></li>
                <li><a href="/signin">회원가입</a></li>
            <% } %>
        </ul>
    </nav>
    <h1 class="rouletteTitle">룰렛</h1>
    <p class="rouletteP">10만원으로 0 ~ 10배까지 랜덤 룰렛</p>
    <div>
        <canvas width="380" height='380'></canvas>  
        <button onclick="rotate()">룰렛 돌리기</button>
    </div>
    <% if (userId) { %>
        <footer>
            <h3>사이트맵</h3>
            <ul class="siteMap">
                <li><a href="/">홈</a></li>
                <li>
                    <a>주식</a>
                    <ul class="subSiteMap">
                        <li><a href="/stock_search">주식 검색</a></li>
                        <li><a href="/stock_transaction">주식 거래</a></li>
                    </ul>
                </li>
                <li>
                    <a>외화</a>
                    <ul class="subSiteMap">
                        <li><a href="/currency_search">외화 검색</a></li>
                        <li><a href="/currency_transaction">외화 거래</a></li>
                    </ul>
                </li>
                <li>
                    <a>명예의 전당</a>
                    <ul class="subSiteMap">
                        <li><a href="/best_earner">역대 최고 수익자</a></li>
                        <li><a href="/richest_person">최고의 자산가</a></li>
                    </ul>
                </li>
                <li>
                    <a>게임</a>
                    <ul class="subSiteMap">
                        <li><a href="/lottery">행운의 번호</a></li>
                        <li><a href="/roulette">룰렛</a></li>
                    </ul>
                </li>
                <li>
                    <a>사용자 정보</a>
                    <ul class="subSiteMap">
                        <li><a href="/myInfo">내 정보</a></li>
                        <li><a href="/myAsset">내 자산</a></li>
                    </ul>
                </li>
            </ul>
        </footer>
    <%} else { %>
        <footer>
            <h3>사이트맵</h3>
            <ul class="siteMap">
                <li><a href="/">홈</a></li>
                <li>
                    <a>주식 거래</a>
                    <ul class="subSiteMap">
                        <li><a href="#" onclick="checkLogin(event)">주식 검색</a></li>
                        <li><a href="#" onclick="checkLogin(event)">주식 거래</a></li>
                    </ul>
                </li>
                <li>
                    <a>외화 거래</a>
                    <ul class="subSiteMap">
                        <li><a href="#" onclick="checkLogin(event)">외화 검색</a></li>
                        <li><a href="#" onclick="checkLogin(event)">외화 거래</a></li>
                    </ul>
                </li>
                <li>
                    <a>명예의 전당</a>
                    <ul class="subSiteMap">
                        <li><a href="#" onclick="checkLogin(event)">역대 최고 수익자</a></li>
                        <li><a href="#" onclick="checkLogin(event)">최고의 자산가</a></li>
                    </ul>
                </li>
                <li>
                    <a>게임</a>
                    <ul class="subSiteMap">
                        <li><a href="#" onclick="checkLogin(event)">행운의 번호</a></li>
                        <li><a href="#" onclick="checkLogin(event)">룰렛</a></li>
                    </ul>
                </li>
                <li>
                    <a>사용자 정보</a>
                    <ul class="subSiteMap">
                        <li><a href="#" onclick="checkLogin(event)">내 정보</a></li>
                        <li><a href="#" onclick="checkLogin(event)">내 자산</a></li>
                    </ul>
                </li>
            </ul>
        </footer>
    <% } %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/script/main.js"></script>
    <script>
        function checkLogin(event) {
            event.preventDefault();
            alert('로그인이 필요한 기능입니다.')
            window.location.href = '/login';
        }
        const sendWinningRatioToServer = (ratio) => {
            const username = "<%= userId %>";
            // 서버로 요청을 보내는 코드
            fetch('/winning_ratio', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ ratio: ratio, username : username })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('서버 응답이 실패했습니다.');
                }
                return response.json();
            })
            .then(data => {
                console.log('서버 응답:', data);
            })
            .catch(error => {
                console.error('오류 발생:', error);
            });
        };
        const $c = document.querySelector("canvas");
        const ctx = $c.getContext(`2d`);


        const product = [
            "0.5", "0", "1", "0", "0.5", "1", "2", "5", "10"
        ];

        const colors = ["#dc0936", "#e6471d", "#f7a416", "#efe61f ", "#60b236", "#209b6c", "#169ed8", "#3f297e", "#87207b", "#be107f", "#e7167b"];

        const newMake = () => {
            const [cw, ch] = [$c.width / 2, $c.height / 2];
            const arc = Math.PI / (product.length / 2);
        
            for (let i = 0; i < product.length; i++) {
                ctx.beginPath();
                ctx.fillStyle = colors[i % (colors.length -1)];
                ctx.moveTo(cw, ch);
                ctx.arc(cw, ch, cw, arc * (i - 1), arc * i);
                ctx.fill();
                ctx.closePath();
            }

            ctx.fillStyle = "#fff";
            ctx.font = "18px Pretendard";
            ctx.textAlign = "center";

            for (let i = 0; i < product.length; i++) {
                const angle = (arc * i) + (arc / 2);

                ctx.save()  ;

                ctx.translate(
                    cw + Math.cos(angle) * (cw - 50),
                    ch + Math.sin(angle) * (ch - 50),
                );

                ctx.rotate(angle + Math.PI / 2);

                product[i].split(" ").forEach((text, j) => {
                    ctx.fillText(text, 0, 30 * j);
                });

                ctx.restore();
            }
        }
        const rotate = () => {
            const money = "<%= money %>"

            if(money<100000){
                alert("돈이 부족합니다.");
                return
            }
            $c.style.transform = `initial`;
            $c.style.transition = `initial`;
            
            setTimeout(() => {
                
                const ran = Math.floor(Math.random() * product.length);

                const arc = 360 / product.length;
                const rotate = (ran * arc) + 3600 + (arc * 3) - (arc/4);
                
                $c.style.transform = `rotate(-${rotate}deg)`;
                $c.style.transition = `2s`;
                
                setTimeout(() => alert(`축하합니다! ${product[ran]}배 당첨!`), 2000);
                sendWinningRatioToServer(product[ran]);
            }, 1);
        };
        newMake();
    </script>
</body>
</html>