* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: black;
    list-style: none;
}

.mainMenu {
    width: 100%;
    height: 100px;
    background-color: #777;
}

.mainMenu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.mainMenu > li {
    margin: auto;
    position: relative;
}

.mainMenu > li:active{
    background-color: #555;
}

.mainMenu > li > a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.subMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 150%;
    background-color: #777;
}

.subMenu > li > a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: white;
}

.subMenu > li{
    list-style: none;
}

.subMenu:last-child{
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.subMenu > li:hover{
    background-color: #555;
}

.ls {
    display: flex;
    justify-content: center;
    margin: auto;
}

.ls > li {
    margin-right: 20px;
}

.mainMenu > li > a:hover {
    cursor: pointer;
}
.ls > li > a{
    text-decoration: none;
    color: white;
}
#exchangeRatePrices > li{
    color: black;
}