* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
}

.mainMenu > ul > li > a, .subMenu > li >a {
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}

.mainMenu {
    width: 100%;
    height: 100px;
    background-color: #777;
}

.mainMenu > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.mainMenu > ul > li {
    margin: auto;
    position: relative; /* 메인 메뉴 아이템의 위치를 상대적으로 설정 */
}

.mainMenu > ul > li > a {
    padding: 10px 20px;
}

.subMenu {
    position: absolute; /* 서브메뉴를 부모 요소에 상대적으로 위치시킴 */
    top: 100%; /* 메인 메뉴 아이템의 아래쪽에 배치 */
    left: 40%;
    background-color: #777;
    width: 100%; /* 서브메뉴를 메인메뉴와 같은 너비로 설정 */
}

.mainMenu > ul > li:hover .subMenu {
    display: block; /* 메인 메뉴 아이템에 마우스를 올렸을 때 서브메뉴 표시 */
}

.subMenu > li > a {
    padding: 10px 20px;
    display: block; /* 서브메뉴 아이템을 블록 레벨 요소로 설정하여 수직으로 배치 */
}
.ls{
    display: flex;
    justify-content: center;
    margin: auto;
}
.ls > li{
    margin-right: 20px;
}
.ls > li > a{
    color: white;
    text-decoration: none;
}
